spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create
    open-in-view: true
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/reservation
    username:
    password:
    driverClassName: org.postgresql.Driver

  liquibase:
    enabled: true
    drop-first: false
    change-log: classpath:db/changelog/db.changelog-master.xml
    default-schema: public

